.header-wrapper{
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 5px 0px;
    background-color: white;
    box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chats-body{
    padding: 10px 0px;
    padding-top: 100px;
}
/*채팅방 배경 적용할때 문제가 되서 기본으로 가지고 있는 padding 지움*/
.chats-body .header,
.chats-body .status-bar {
    padding: 0px 20px;
}
/*없앤 padding 중 header랑 status-bar은 다시 적용 시킴*/
.chats-body{
    background-image: url(../images/chatBg.png);
    min-height: 1000vh;
}

.chat__write--container {
    position: fixed;
    bottom: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfcfc;
    padding: 0px 20px;
    /* box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px 
    rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025); */
} 

.chat__write{
    bottom: 0px;
    width: 100%;
    border-radius: 0;
    padding: 10px 60px;
    width: 100%;
    border: none;
    font-size: 14px;
}

.chat__icon-left{
    position: absolute;
}

.chat__icon-right{
    position: absolute;
    right: 10px;
}

.chat__write i{
    font-size: 22px;
}

.chat__write__column:nth-child(2){
    width: 80%;
}

.chat__write__column input{
    padding: 20px 10px;
    width: 100%;
    border: none;
    font-size: 14px;
}

.chat__write:focus{
    outline: none;
}

.chat__icon{
    font-size: 18px;
    transition: opacity 0.3s ease-in-out ;
}

.chat__write:focus ~ .chat__icon{
    opacity: 0;
}

.chat-screen .chat__messages{
    border-top: 1px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    padding-top: 30px;
}

.chat__messages .chat__timestamp{
    background-color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
     rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    text-transform: uppercase; /*대문자로 만듦*/
    font-weight: 700;
}

.message{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.incoming-message {
    align-self: flex-start;
}

.sent-message{
    align-self: flex-end;
}

.incoming-message img{
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;
}

.message .message__bubble {
    background-color: white;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
     rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    padding: 10px 20px;
    border-radius: 20px;
    /*말풍선 여러개일 경우 span 때문에 margin-bottom 이 무시된다.
    이를 해결하기 위해 display:block를 적용해준다.*/
    color: white;
    font-weight: 400;
}

.incoming-message .message__author{
    margin-top:10px;
    display: block;
    font-weight: 600;
    font-size: 12px;
}

.incoming-message .message__bubble{
    border-bottom-left-radius: 0;
    background-image:linear-gradient(to left, #000046, #1CB5E0);
}

.sent-message .message__bubble{
    border-bottom-right-radius: 0;
    background-image: linear-gradient(to right, #021B79, #0575E6);
}

