.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.friend .friend__avatar {
    width: 50px;
    border-radius: 38%;
  }
  
.friend__avatar.g-avatar {
    width: 70px;
}
.friend__avatar.m-avatar{
    width: 60px;
}
.friend .friend__column{
    display: flex;
    align-items: center;
}
.friend .friend__avatar {
    margin-right: 15px;
}

.friend__content .friend__name{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
    opacity: 0.6;
}
.friend__content .friend__bottom-text{
    font-size: 14px;
}
.friend__content .friend__status,
.friend .chat__timestamp{
    font-size: 12px;
}
.friend .chat__timestamp{
}
.friend .friend__now-listening{
    font-size: 13px;
    opacity: 0.7;
    padding: 5px 10px;
    border: 2px solid #24c75d;
    border-radius: 30px;
}
.friend .friend__now-listening i{
    font-size: 9px;
}
.friend__add-btn{
    display: flex;
    padding: 10px 15px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}